.header-child15 {
  position: absolute;
  top: 28px;
  right: 1786px;
  width: 94px;
  height: 94px;
  object-fit: cover;
}
.majesticonsuser-line9 {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.material-symbolsshopping-bag-icon10,
.mdicards-heart-outline-icon15 {
  position: relative;
  width: 32.27px;
  height: 32.27px;
  overflow: hidden;
  flex-shrink: 0;
}
.material-symbolsshopping-bag-icon10 {
  width: 31.82px;
  height: 31.82px;
}
.div51 {
  position: relative;
}
.majesticonsuser-line-parent3,
.material-symbolsshopping-bag-parent7 {
  height: 31.82px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.majesticonsuser-line-parent3 {
  position: absolute;
  top: 59px;
  left: 1713px;
  width: 167.09px;
  height: 32.27px;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.ca-hng18,
.trang-ch18 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  flex-shrink: 0;
}
.ca-hng18 {
  text-decoration: underline;
}
.trang-ch-parent7 {
  position: absolute;
  top: 28px;
  left: 195px;
  width: 444px;
  height: 83px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 35px 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.header9 {
  position: relative;
  background-color: var(--color-gold);
  width: 100%;
  height: 150px;
}
.b44,
.custom9,
.mnh-l9,
.tt-c {
  text-decoration: none;
  position: absolute;
  top: 66px;
  left: 696px;
  text-transform: uppercase;
  font-weight: 700;
  color: inherit;
}
.b44,
.custom9,
.mnh-l9 {
  text-decoration: none;
  left: 869px;
}
.custom9,
.mnh-l9 {
  left: 1154px;
}
.mnh-l9 {
  left: 996px;
}
.category {
  position: relative;
  width: 100%;
  height: 152px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-child65 {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 290px;
  height: 70px;
}
.gi {
  position: absolute;
  top: 23px;
  right: 242px;
}
.frame {
  position: relative;
  width: 290px;
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
}
.fearrowleft2-icon {
  position: relative;
  width: 24px;
  height: 15px;
  margin-left: -44px;
}
.filter {
  width: 100%;
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 0 45px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
}
.vector-icon17,
.vector-icon18 {
  position: absolute;
  height: 1.49%;
  width: 1.4%;
  top: 5.87%;
  right: 52.16%;
  bottom: 92.63%;
  left: 46.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon18 {
  right: 27.94%;
  left: 70.66%;
}
.hogwarts-chamber-of3 {
  position: absolute;
  top: 529px;
  left: 40px;
  display: flex;
  align-items: center;
  width: 445px;
}
.span31 {
  text-decoration: underline;
}
.txt24 {
  line-break: anywhere;
  width: 100%;
}
.b45,
.khonsu {
  position: absolute;
}
.b45 {
  top: 690px;
  left: 40px;
  display: flex;
  align-items: center;
  width: 445px;
}
.khonsu {
  top: 529px;
  left: 505px;
}
.b46,
.hogwarts-icons-3 {
  display: flex;
  align-items: center;
}
.hogwarts-icons-3 {
  position: absolute;
  top: 529px;
  left: 970px;
  width: 445px;
}
.b46 {
  top: 690px;
  left: 505px;
}
.b46,
.b47,
.list-child2 {
  position: absolute;
  width: 445px;
}
.b47 {
  top: 690px;
  left: 970px;
  display: flex;
  align-items: center;
}
.list-child2 {
  top: 64px;
  left: 40px;
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  height: 445px;
}
.div52,
.div53,
.div54 {
  position: absolute;
  top: 645px;
  right: 1735.08px;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray);
  text-align: center;
}
.div53,
.div54 {
  right: 1269px;
}
.div54 {
  right: 804px;
}
.vector-icon19,
.vector-icon20,
.vector-icon21,
.vector-icon22,
.vector-icon23 {
  position: absolute;
  height: 1.2%;
  width: 1.09%;
  top: 39.23%;
  right: 96.72%;
  bottom: 59.57%;
  left: 2.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon20,
.vector-icon21,
.vector-icon22,
.vector-icon23 {
  right: 95.42%;
  left: 3.49%;
}
.vector-icon21,
.vector-icon22,
.vector-icon23 {
  right: 94.12%;
  left: 4.8%;
}
.vector-icon22,
.vector-icon23 {
  right: 92.82%;
  left: 6.1%;
}
.vector-icon23 {
  right: 91.51%;
  left: 7.4%;
}
.div55 {
  position: absolute;
  top: 1472px;
  right: 1735px;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray);
}
.vector-icon24,
.vector-icon25,
.vector-icon26,
.vector-icon27,
.vector-icon28 {
  position: absolute;
  height: 1.2%;
  width: 1.09%;
  top: 89.29%;
  right: 96.72%;
  bottom: 9.51%;
  left: 2.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon25,
.vector-icon26,
.vector-icon27,
.vector-icon28 {
  right: 95.42%;
  left: 3.49%;
}
.vector-icon26,
.vector-icon27,
.vector-icon28 {
  right: 94.12%;
  left: 4.8%;
}
.vector-icon27,
.vector-icon28 {
  right: 92.82%;
  left: 6.1%;
}
.vector-icon28 {
  right: 91.51%;
  left: 7.4%;
}
.list-child3,
.list-child4 {
  position: absolute;
  top: 64px;
  left: 505px;
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 445px;
  height: 445px;
}
.list-child4 {
  left: 970px;
}
.vector-icon29,
.vector-icon30,
.vector-icon31,
.vector-icon32,
.vector-icon33 {
  position: absolute;
  height: 1.2%;
  width: 1.09%;
  top: 39.23%;
  right: 72.5%;
  bottom: 59.57%;
  left: 26.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon30,
.vector-icon31,
.vector-icon32,
.vector-icon33 {
  right: 71.2%;
  left: 27.71%;
}
.vector-icon31,
.vector-icon32,
.vector-icon33 {
  right: 69.9%;
  left: 29.01%;
}
.vector-icon32,
.vector-icon33 {
  right: 68.6%;
  left: 30.32%;
}
.vector-icon33 {
  right: 67.3%;
  left: 31.62%;
}
.div56 {
  position: absolute;
  top: 1472px;
  right: 1270px;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray);
}
.vector-icon34,
.vector-icon35,
.vector-icon36,
.vector-icon37,
.vector-icon38 {
  position: absolute;
  height: 1.2%;
  width: 1.09%;
  top: 89.29%;
  right: 72.5%;
  bottom: 9.51%;
  left: 26.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon35,
.vector-icon36,
.vector-icon37,
.vector-icon38 {
  right: 71.2%;
  left: 27.71%;
}
.vector-icon36,
.vector-icon37,
.vector-icon38 {
  right: 69.9%;
  left: 29.01%;
}
.vector-icon37,
.vector-icon38 {
  right: 68.6%;
  left: 30.32%;
}
.vector-icon38 {
  right: 67.3%;
  left: 31.62%;
}
.image-167-icon3 {
  position: absolute;
  top: 154px;
  left: 78px;
  width: 370px;
  height: 278px;
  object-fit: cover;
}
.frame-child66 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-red);
  width: 445px;
  height: 68px;
}
.thm-vo-gi17 {
  position: absolute;
  top: 22px;
  right: 141px;
  font-size: var(--font-size-lg);
  font-family: var(--font-segoe-ui);
  color: var(--color-white);
  text-align: left;
}
.rectangle-parent21,
.rectangle-parent22,
.rectangle-parent23 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 758px;
  left: 40px;
  width: 445px;
  height: 68px;
}
.rectangle-parent22,
.rectangle-parent23 {
  left: 505px;
}
.rectangle-parent23 {
  left: 970px;
}
.image-168,
.image-169-icon3 {
  position: absolute;
  top: 154px;
  left: 578px;
  width: 300px;
  height: 278px;
}
.image-169-icon3 {
  left: 1043px;
  object-fit: cover;
}
.vector-icon39 {
  position: absolute;
  height: 1.49%;
  width: 1.4%;
  top: 5.87%;
  right: 76.38%;
  bottom: 92.63%;
  left: 22.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.list-child5,
.list-child6,
.list-child7 {
  position: absolute;
  top: 84px;
  left: 415px;
  border-radius: 50%;
  border: 2px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
}
.list-child6,
.list-child7 {
  left: 880px;
}
.list-child7 {
  left: 1345px;
}
.vector-icon40,
.vector-icon41 {
  position: absolute;
  height: 1.49%;
  width: 1.4%;
  top: 55.87%;
  right: 52.16%;
  bottom: 42.63%;
  left: 46.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon41 {
  right: 27.94%;
  left: 70.66%;
}
.b48,
.minecraft-the-deep {
  position: absolute;
  left: 40px;
}
.minecraft-the-deep {
  top: 1355px;
  display: flex;
  align-items: center;
  width: 445px;
}
.b48 {
  top: 1516px;
}
.b49,
.b50,
.ba,
.joker {
  position: absolute;
  top: 1355px;
  left: 505px;
}
.b49,
.b50,
.joker {
  left: 970px;
}
.b49,
.b50 {
  top: 1516px;
  left: 505px;
}
.b50 {
  left: 970px;
}
.list-child10,
.list-child8,
.list-child9 {
  position: absolute;
  top: 890px;
  left: 40px;
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 445px;
  height: 445px;
}
.list-child10,
.list-child9 {
  left: 505px;
}
.list-child10 {
  left: 970px;
}
.rectangle-parent24,
.rectangle-parent25,
.rectangle-parent26 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1584px;
  left: 40px;
  width: 445px;
  height: 68px;
}
.rectangle-parent25,
.rectangle-parent26 {
  left: 505px;
}
.rectangle-parent26 {
  left: 970px;
}
.vector-icon42 {
  position: absolute;
  height: 1.49%;
  width: 1.4%;
  top: 55.87%;
  right: 76.38%;
  bottom: 42.63%;
  left: 22.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.list-child11,
.list-child12,
.list-child13 {
  position: absolute;
  top: 910px;
  left: 415px;
  border-radius: 50%;
  border: 2px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
}
.list-child12,
.list-child13 {
  left: 880px;
}
.list-child13 {
  left: 1345px;
}
.list-child14,
.vector-icon43 {
  position: absolute;
  top: 648px;
  left: 970px;
  width: 125px;
  height: 25px;
}
.vector-icon43 {
  height: 3.24%;
  width: 6.04%;
  top: 4.34%;
  right: 7.06%;
  bottom: 92.43%;
  left: 86.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b51,
.diagon-alley3 {
  display: flex;
  align-items: center;
}
.diagon-alley3 {
  position: absolute;
  top: 465px;
  left: 0;
  width: 445px;
}
.b51 {
  top: 626px;
}
.b51,
.frame-child72,
.rectangle-parent27 {
  position: absolute;
  left: 0;
  width: 445px;
}
.frame-child72 {
  top: 0;
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  height: 445px;
}
.rectangle-parent27 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 694px;
  height: 68px;
}
.image-170-icon3 {
  position: absolute;
  top: 90px;
  left: 73px;
  width: 300px;
  height: 278px;
  object-fit: cover;
}
.frame-child74 {
  position: absolute;
  top: 20px;
  left: 375px;
  border-radius: 50%;
  border: 2px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
}
.div57 {
  position: absolute;
  top: 0;
  right: 0;
}
.material-symbolsstar-icon105 {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.frame-child75,
.parent20 {
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 25px;
}
.parent20 {
  top: 584px;
  width: 145px;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray);
}
.vector-parent {
  position: absolute;
  top: 890px;
  left: 1435px;
  width: 445px;
  height: 762px;
}
.frame-icon {
  position: relative;
  width: 125px;
  height: 25px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent12 {
  position: absolute;
  top: 1475px;
  left: 970px;
  width: 145px;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray);
}
.image-186-icon {
  position: absolute;
  top: 968px;
  left: 92px;
  width: 344px;
  height: 323px;
  object-fit: cover;
}
.mnh-l-3 {
  top: 465px;
  left: 0;
}
.b52,
.div59,
.mnh-l-3 {
  position: absolute;
}
.b52 {
  top: 626px;
  left: 0;
}
.div59 {
  top: 584px;
  right: 300px;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray);
}
.vector-icon45,
.vector-icon46,
.vector-icon47,
.vector-icon48,
.vector-icon49 {
  position: absolute;
  height: 2.6%;
  width: 4.68%;
  top: 77.05%;
  right: 94.85%;
  bottom: 20.35%;
  left: 0.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon46,
.vector-icon47,
.vector-icon48,
.vector-icon49 {
  right: 89.23%;
  left: 6.09%;
}
.vector-icon47,
.vector-icon48,
.vector-icon49 {
  right: 83.61%;
  left: 11.7%;
}
.vector-icon48,
.vector-icon49 {
  right: 78%;
  left: 17.32%;
}
.vector-icon49 {
  right: 72.38%;
  left: 22.94%;
}
.image-193-icon {
  position: absolute;
  top: 124px;
  left: 52px;
  width: 349px;
  height: 223px;
  object-fit: cover;
}
.vector-group {
  position: absolute;
  top: 64px;
  left: 1435px;
  width: 445px;
  height: 762px;
}
.image-199-icon,
.image-200-icon,
.image-201-icon {
  position: absolute;
  top: 998px;
  left: 1108px;
  width: 195px;
  height: 260px;
  object-fit: cover;
}
.image-200-icon,
.image-201-icon {
  top: 1023px;
  left: 617px;
  width: 229px;
  height: 180px;
}
.image-201-icon {
  top: 141px;
  left: 628px;
  width: 203px;
  height: 270px;
}
.list1 {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 63px var(--padding-21xl);
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-45xl);
    position: relative;
    flex-shrink: 0;
    text-align: left;
    margin-bottom: 200px;
}
.fearrowleft2-icon1 {
  position: absolute;
  height: 11.65%;
  width: 0.78%;
  top: 33.98%;
  right: 56.95%;
  bottom: 54.37%;
  left: 42.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b53,
.div60,
.div61 {
  position: absolute;
  top: 70px;
}
.b53 {
  left: calc(50% - 116px);
  text-decoration: underline;
}
.div60,
.div61 {
  left: calc(50% - 86px);
}
.div61 {
  left: calc(50% - 56px);
}
.div62,
.div63,
.div64,
.div65 {
  position: absolute;
  top: 70px;
  left: calc(50% - 26px);
}
.div63,
.div64,
.div65 {
  left: calc(50% + 4px);
}
.div64,
.div65 {
  left: calc(50% + 34px);
}
.div65 {
  left: calc(50% + 64px);
}
.fearrowleft2-icon2 {
  position: absolute;
  height: 11.65%;
  width: 0.78%;
  top: 33.98%;
  right: 42.27%;
  bottom: 54.37%;
  left: 56.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div66 {
  position: absolute;
  top: 70px;
  left: calc(50% + 96px);
}
.paging1 {
  position: relative;
  width: 100%;
  height: 204px;
  overflow: hidden;
  flex-shrink: 0;
  color: var(--color-cornflowerblue);
}
.footer-child14 {
  position: relative;
  width: 135px;
  height: 135px;
  object-fit: cover;
}
.b54,
.ca-hng19,
.trang-ch19 {
  position: absolute;
  top: 0;
  right: 930px;
  display: flex;
  align-items: center;
  width: 135px;
}
.b54,
.ca-hng19 {
  right: 775px;
}
.b54 {
  top: 44px;
}
.p18 {
  margin: 0;
}
.custom10,
.div67,
.h-tr20,
.hotline9,
.mnh-l10 {
  position: absolute;
  top: 44px;
  right: 155px;
  display: flex;
  align-items: center;
  width: 135px;
}
.custom10,
.h-tr20,
.hotline9,
.mnh-l10 {
  top: 78px;
  right: 775px;
}
.custom10,
.h-tr20,
.hotline9 {
  top: 112px;
}
.h-tr20,
.hotline9 {
  top: 0;
  right: 620px;
}
.hotline9 {
  right: 0;
  width: 290px;
}
.uiwfacebook-icon9 {
  position: absolute;
  top: 44px;
  left: 0;
  width: 36px;
  height: 36px;
  overflow: hidden;
}
.vector-icon50 {
  position: relative;
  width: 37px;
  height: 36px;
}
.vector-wrapper8 {
  position: absolute;
  top: 34px;
  left: 46px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.artboard-1-110 {
  position: absolute;
  top: 44px;
  left: 113px;
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.theo-di-chng-ti-ti-parent7 {
  position: absolute;
  top: 0;
  left: 465px;
  width: 290px;
  height: 90px;
}
.trang-ch-parent8 {
  position: relative;
  width: 1065px;
  height: 136px;
}
.footer9,
.shopping {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer9 {
  background-color: var(--color-gold);
  width: 100%;
  height: 264px;
  flex-direction: row;
  padding: 0 var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-156xl);
  text-align: left;
}
.shopping {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  flex-direction: column;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-segoe-ui);
}
