<div class="index1">
    <a href="/Account/Login">Login</a>
    <div class="banner">
        <img class="banner-child" alt="" src="~/public/rectangle-619@2x.png" />
    </div>

    <div class="trend">
        <b class="xu-hng">Xu hướng</b>
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <img style="border: 1px solid var(--color-darkgray) " class="card-img-top rounded" src="~/public/image-160@2x.png" />

                    <div class="pl-1">
                        <p class="card-title h5 name">King's Castle</p>
                    </div>
                    <div class="pl-1">
                        <p class="name">3.220.000<span>  đ</span></p>
                    </div>
                    <div>
                        <a asp-action="Details" class="button btn form-control" asp-route-productId="">
                            Thêm vào giỏ hàng
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="highlight">
        <b class="xu-hng">Nổi bật</b>
        <div class="custom-vi-lego-parent">
            <b class="custom-vi-lego">Custom với LEGO</b>
            <div class="custom-vi-lego1">
                Custom với LEGO bạn sẽ được lựa chọn thêm những phụ kiện cho bộ Lego
                thêm màu sắc và thú vị hơn
            </div>
            <b class="mnh-l-lego">Mảnh lẻ LEGO</b>
            <div class="nhng-mnh-l">
                Những mảnh lẻ Lego còn thiếu trong bộ sưu tập của bạn thì hãy để N4T
                giải quyết cho bạn
            </div>
            <div class="frame-parent">
                <a class="xem-thm-wrapper">
                    <div class="div">Xem thêm</div>
                </a>
                <img class="vector-icon1" alt="" src="~/public/vector1.svg" />
            </div>
            <img class="image-179-icon" alt="" src="~/public/image-179@2x.png" />

            <div class="frame-group">
                <a class="xem-thm-container">
                    <div class="div">Xem thêm</div>
                </a>
                <img class="vector-icon1" alt="" src="~/public/vector2.svg" />
            </div>
            <img class="image-181-icon" alt="" src="~/public/image-181@2x.png" />
        </div>
    </div>



    <div class="support">
        <img class="support-child" alt="" src="~/public/rectangle-2@2x.png" />
        <div class="dch-v-lp-rp-h-parent">
            <b class="div">Dịch vụ Lắp Ráp Hộ </b>
            <div class="l-dch-v-container">
                <span class="txt">
                    <p class="l-dch-v">
                        Là dịch vụ mà nhân viên cửa hàng của chúng tôi sẽ thay bạn lắp
                        ráp bộ lego của mình
                    </p>
                    <p class="l-dch-v">&nbsp;</p>
                    <p class="l-dch-v">*Lưu ý:</p>
                    <p class="l-dch-v">
                        Dịch vụ này có tính phí và yêu cầu thanh toán trước
                    </p>
                </span>
            </div>
        </div>
    </div>


</div>