<div class="shopping">
    <div class="category">
        <a class="tt-c">tất cả</a>
        <a class="b44">Bộ</a>
        <a class="custom9">Custom</a>
        <a class="mnh-l9">Mảnh Lẻ</a>
    </div>
    <div class="list1">
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <img style="border: 1px solid var(--color-darkgray) " class="card-img-top rounded" src="~/public/image-160@2x.png" />

                    <div class="pl-1">
                        <p class="card-title h5 name">King's Castle</p>
                    </div>
                    <div class="pl-1">
                        <p class="name">3.220.000<span>  đ</span></p>
                    </div>
                    <div>
                        <a asp-action="Details" class="button btn form-control" asp-route-productId="">
                            Thêm vào giỏ hàng
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>